<style>
  .freeform {
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 700px;
    transition: all 0.25s ease-in-out;
  }

  .freeform.ready {
    opacity: 1;
  }

  .freeform img {
    max-width: 100%;
  }

  .freeform__key ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .freeform__key li {
    width: 100%;
    max-width: 30%;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    border: 2px solid transparent;
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .freeform__key li.selected {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

  .freeform__key li:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }

  .freeform__submit {
    display: none;
  }

  .freeform.done .freeform__submit {
    display: block;
  }

  .freeform__submit__button {
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    padding: 0.5em 2em;
    background-color: #f8f8f8;
    transition: all 0.25s ease-in-out;
  }


  .freeform__submit__button:hover {
    background-color: #e2f2ff;
  }
</style>

<div
  class="freeform"
  id="FormaSupplyCoCart">

  <div
    class="freeform__key"
    data-ff-key="tier">
    <h3>Step 1</h3>
    <ul>
      <li data-ff-val="basics">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/b073aa9476da4d85b30285954627181f.jpeg">
        <h4>basics</h4>
      </li>
      <li data-ff-val="essentials">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/03115d1136f44796ac07859b37c6db2e.jpeg">
        <h4>essentials</h4>
      </li>
      <li data-ff-val="select">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/12edc75212564ed1a888bbf4c4459e35.jpeg">
        <h4>select</h4>
      </li>
    </ul>
  </div>

  <div
    class="freeform__key"
    data-ff-key="frequency">
    <h3>Step 2</h3>
    <ul>
      <li data-ff-val="monthly">
        <h4>monthly</h4>
      </li>
      <li data-ff-val="bi-monthly">
        <h4>bi-monthly</h4>
      </li>
      <li data-ff-val="quarterly">
        <h4>quarterly</h4>
      </li>
    </ul>
  </div>

  <div
    class="freeform__key"
    data-ff-key="tone">
    <h3>Step 3</h3>
    <ul>
      <li data-ff-val="dark">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/7970689c9e0748d2bc12d6e10860e43e.jpeg">
        <h4>dark</h4>
      </li>
      <li data-ff-val="light">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/c1d74eec77d94138b699975361347c06.jpeg">
        <h4>light</h4>
      </li>
      <li data-ff-val="mix">
        <img src="https://s3.amazonaws.com/cratejoy_vendor_images/a78a63d711214d949b6c22188e83aced.jpeg">
        <h4>mix</h4>
      </li>
    </ul>
  </div>

  <div
    class="freeform__key"
    data-ff-key="size">
    <h3>Step 4</h3>
    <ul>
      <li data-ff-val="small">
        <h4>small</h4>
      </li>
      <li data-ff-val="medium">
        <h4>medium</h4>
      </li>
      <li data-ff-val="large">
        <h4>large</h4>
      </li>
      <li data-ff-val="x-large">
        <h4>x-large</h4>
      </li>
      <li data-ff-val="xx-large">
        <h4>xx-large</h4>
      </li>
    </ul>
  </div>

  <div
    class="freeform__key"
    data-ff-key="terms">
    <h3>Step 5</h3>
    <ul>
      <li data-ff-val="month-to-month">
        <h4>month-to-month</h4>
      </li>
      <li data-ff-val="3-month-prepay">
        <h4>3-month prepay</h4>
      </li>
      <li data-ff-val="6-month-prepay">
        <h4>6-month prepay</h4>
      </li>
      <li data-ff-val="12-month-prepay">
        <h4>12-month prepay</h4>
      </li>
    </ul>
  </div>


  <div
    class="freeform__key"
    data-ff-key="terms">
    <h3>Step 5</h3>
    <ul>
      <li data-ff-val="month-to-month">
        <h4>month-to-month</h4>
      </li>
      <li data-ff-val="3-month-prepay">
        <h4>3-month prepay</h4>
      </li>
      <li data-ff-val="6-month-prepay">
        <h4>6-month prepay</h4>
      </li>
      <li data-ff-val="12-month-prepay">
        <h4>12-month prepay</h4>
      </li>
    </ul>
  </div>

  <div
    class="freeform__submit">
    <h3>Confirmation</h3>
    <h2 class="freeform__submit__button">purchase</h2>
  </div>

</div>

<script src="../src/freeform.js"></script>
<script src="../src/forma-supply-co.freeform.js"></script>
